extends layout

block content
  h1= title
  p Welcome to #{title}
  div test2
  script.
    var socket = io.connect('http://localhost');
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });